/* https://css-tricks.com/snippets/css/meyer-reset/ */
html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}body{line-height:1;color:black;background:white;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}abbr,acronym{border:0;}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif; /* https://fonts.google.com/specimen/Raleway?selection.family=Raleway */
}

#svg {
    display: none;
}

.header {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../img/header-bg.jpg);
    background-position: center;
    background-size: cover;
}

.header-navbar {
    position: absolute;
    top: 0px;   /* Importante */
    left: 0px;
    right: 0px;
    width: 100%;
    padding: 4% 0% 4% 0%; /* top right bottom left */
}

.wrapper {
    margin: auto;
    max-width: 1080px;
    /*height: 100%;*/
}

.header-navbar .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-menu {
    background: none;
    width: 25px;
    height: 25px;
    border: 0px;
    color: #fff;
    display: block;
}

.btn-menu svg {
    width: 100%;
    height: 100%;
    fill: #fff;
}

.header-content {
    width: 100%;
    height: 100%;
    padding-bottom: 8%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header-content h1 {
    font-size: 1.5em; /* Sobre una base [16 px] */
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.header-content p {
    font-size: 1.06em;
    text-align: center;
    max-width: 60%;
    display: block;
    margin: auto;
    color: #fff;
    padding: 3% 0% 3% 0%; /* top right bottom left */
}

.header-content a {
    font-size: 0.81em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: block;
    margin: auto;
    color: #fff;
    max-width: 120px;
    padding: 15px 0px 15px 0px; /* top right bottom left */
    background-color: #333399;
}